.ant-tabs-nav-scroll{
    padding-left:0;
}
.ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar{
    margin-bottom: 2px;
}
.ant-tabs.ant-tabs-top.ant-tabs-card.ant-tabs-editable-card.ant-tabs-no-animation{
    height: 100%;
}    
.hover_hand{
    &:hover{
        cursor:pointer;
        color:#40a9ff;
    }
}
.logoBtn{
    border-radius:50% 50% 0 0;
    margin-right:8px;
    line-height:1;
    &:hover,&focus{
        border-radius:50%;
    }
}
#rc-tabs-0-tab-1{
    display: flex;
    align-items: center;
}